
body {
    background: url('../../img/background.jpg') fixed no-repeat center center;
    background-size: cover;
}
.blur {
    background: url('../../img/background.jpg') fixed no-repeat center center; 
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);   
    filter: blur(5px);
}
#box {
    background: #FFF url(http://2.bp.blogspot.com/-yNE4A_H3C2o/U1E6RPYNEpI/AAAAAAAADRQ/UOP1mUKaxGE/s1600/line.png) repeat-x bottom center;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #CCC;
    padding-bottom: 30px;
}
#content {
    padding: 10px;
}